.countries {
    margin-top: 6rem;
}

.countries__wrapper {
    border-radius: 0.8rem;
    background-color: var(--text-color-white);
    box-shadow: var(--shadow--primary);
}

.countries-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
}

.countries__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-color-dark);
}

.countries__content {
}

.countries__table {
    overflow-x: auto;
    white-space: nowrap;
}

.countries__tbl {
    width: 100%;
    border-collapse: collapse;
}

.countries__tbl-header-row {
}

.countries__tbl-header-row > th {
    padding: 1rem 1rem;
    color: var(--text-color-dark);
    font-size: 1rem;
    font-weight: 650;
    text-align: start;
}

.countries__tbl-header-row > th:first-child {
    width: 0.5rem;
}

.countries__tbl-body-row > td {
    padding: 0.5rem 1rem;
    color: var(--text-color-primary);
    font-size: 0.9rem;
    font-weight: 400;
    border-top: 2px solid var(--border-color-primary);
}

.countries__tbl-body-row > td:first-child {
    width: 0.5rem;
}

.countries__tbl-body-row > td:nth-child(2) {
    text-transform: uppercase;
}

.countries__tbl-body-row > td:last-child > .icon {
    margin-left: auto;
}

.countries__tbl-image {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 999px;
    overflow: hidden;
}

.countries__tbl-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.countries__btns {
    display: flex;
    justify-content: center;
    padding: 1.5rem 1.25rem;
}

@media only screen and (max-width: 768px) {
    .countries-title {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 576px) {
    .countries__btns > .btn {
        width: 100%;
    }
}
