.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.header__logo {
}

.header__logo-title {
    margin: 0;
    font-weight: 900;
    font-size: 2rem;
}

.header__logo-link {
    color: var(--color-secondary);
    text-decoration: none;
}

.header__nav {
    font-size: 1rem;
}

.header__menu {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu-item {
}

.header__menu-link {
    font-size: 1rem;
    color: var(--color-secondary);
    text-decoration: none;
    transition: 0.4s ease-in-out all;
}

.header__menu-link:hover {
    color: var(--color-primary);
    transition: 0.4s ease-in-out all;
}

.header__btns {
}

.header__btns > .icon {
    display: none;
}

/* Responsive */
@media only screen and (max-width: 992px) {
    .header__nav {
        width: 100%;
        height: fit-content;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 999;
        background-color: var(--text-color-white);
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all;
        transform: translateY(100%);
    }

    .header__nav--active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .header__menu {
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 1rem;
    }

    .header__menu-link {
        display: inline-block;
        width: 100%;
    }

    .header__logo-title {
        font-size: 1.8rem;
    }

    .header__btns {
        display: inline-flex;
        align-items: center;
        gap: 0.8rem;
    }

    .header__btns > .icon {
        display: block;
    }
}

@media only screen and (max-width: 576px) {
    .header__logo-title {
        font-size: 1.5rem;
    }
}
