.statistic {
}

.statistic-content {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1.5rem;
}

.statistic-content-left {
    grid-column: span 8 / span 8;
}

.statistic-content-wrappper {
    display: flex;
    flex-direction: column;
    padding-right: 2.5rem;
    height: 100%;
}

.statistic-content-top {
    height: 50%;
}

.statistic-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}

.statistic-form-input {
    width: 100%;
    height: 3.5rem;
}

.statistic-form-button {
    height: 3.5rem;
}

.statistic-content-bottom {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistic-content-data {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.statistic-content-data:first-child > .statistic-content-value {
    text-align: start;
}

.statistic-content-data:first-child > .statistic-content-label {
    text-align: start;
}

.statistic-content-value {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 750;
    color: var(--text-color-blue);
}

.statistic-content-label {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    color: var(--color-primary);
}

.statistic-content-right {
    grid-column: span 4 / span 4;
}

@media only screen and (max-width: 1200px) {
    .statistic {
        margin-top: 4rem;
    }

    .statistic-content-left {
        grid-column: span 12 / span 12;
    }

    .statistic-content-wrappper {
        padding-right: 0;
        gap: 3rem;
    }

    .statistic-content-right {
        grid-column: span 12 / span 12;
    }
}

@media only screen and (max-width: 992px) {
    .statistic-content-top {
        height: auto;
    }

    .statistic-form {
        flex-direction: column;
        gap: 1.5rem;
    }

    .statistic-form-button {
        width: 100%;
    }

    .statistic-form-button > .btn {
        width: 100%;
    }

    .statistic-content-bottom {
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .statistic-content-bottom {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        row-gap: 2rem;
    }

    .statistic-content-data {
        grid-column: span 2 / span 2;
    }

    .statistic-content-value {
        text-align: start;
    }

    .statistic-content-label {
        text-align: start;
    }
}
