.btn {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 0.8rem 1rem;
    border-radius: 10rem;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn-legendary {
    font-weight: 600;
    color: var(--color-background);
    background: linear-gradient(108deg, #00c293 23%, var(--color-primary) 55%);
}

.btn-primary {
    font-weight: 600;
    color: var(--color-background);
    background-color: var(--color-primary);
}

.btn-secondary {
    font-weight: 700;
    color: var(--color-primary);
    background-color: var(--color-background);
    border: 2px solid var(--color-primary);
}

.btn-small {
    width: 6rem;
}

.btn-medium {
    width: 8rem;
}

.btn-large {
    width: 10rem;
}
