.btn {
    display: inline-block;
    border: none;
    outline: none;
    padding: 0.8rem 1.8rem;
    border-radius: 10rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--text-color-white);
}

.btn--secondary {
    background-color: var(--color-background);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
