.data__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    padding: 1.5rem 1.25rem;
    background-color: var(--text-color-white);
    box-shadow: var(--shadow--primary);
}

.data__table-header {
}

.data__table-hr {
    border: 2px solid var(--border-color-primary);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.data__table-title {
    margin: 0;
    color: var(--color-secondary);
    font-weight: 800;
    text-transform: uppercase;
}

.data__table-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    height: 100%;
}

.data__table-item {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 0.5rem;
}

.data__table-value {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-secondary);
}

.data__table-label {
    font-size: 0.9rem;
    font-weight: 650;
    color: var(--color-primary);
}
