.icon {
    display: block;
    width: fit-content;
    height: fit-content;
}

.icon > svg {
    display: block;
}

.icon > svg {
    pointer-events: none;
}

/* Utilities */
.icon--pointer {
    cursor: pointer;
}

/* Size */
.icon--sm > svg {
    width: 1.25rem;
    height: 1.25rem;
}

.icon--md > svg {
    width: 1.5rem;
    height: 1.5rem;
}

.icon--lg > svg {
    width: 2rem;
    height: 2rem;
}

/* Color */
.icon--primary {
    color: var(--color-secondary);
}

.icon--dark {
    color: var(--text-color-dark);
}
