.icon {
    display: block;
    width: fit-content;
    height: fit-content;
}

.icon > svg {
    display: block;
    pointer-events: none;
}

.icon-pointer {
    cursor: pointer;
}

.icon-small > svg {
    width: 1.25rem;
    height: 1.25rem;
}

.icon-medium > svg {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-large > svg {
    width: 2rem;
    height: 2rem;
}

.icon-primary {
    color: var(--color-secondary);
}

.icon-dark {
    color: var(--text-color-dark);
}

.icon-green {
    color: var(--text-color-green);
}

.icon-red {
    color: var(--text-color-red);
}
