.section-intro {
    margin-bottom: 4rem;
}

.section-intro-title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-primary);
    text-transform: uppercase;
}

@media only screen and (max-width: 992px) {
    .section-intro-title {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 576px) {
    .section-intro-title {
        font-size: 2rem;
    }
}
