:root {
    --color-background: #fdfdfd;
    --color-primary: #33dab2;
    --color-secondary: #13225c;
    --text-color-primary: #919191;
    --text-color-white: #ffffff;
    --text-color-gray: #cecece;
    --text-color-yellow: #ffbe3c;
    --text-color-blue: #076ac6;
    --text-color-dark: #272d3b;
    --text-color-green: #11e5b4;
    --text-color-red: #f85252;
    --border-color-primary: #f2f2f2;
    --shadow--primary: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

body {
    font-family: Outfit;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color-primary);
    background-color: var(--color-background);
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.text-yellow {
    color: var(--text-color-yellow) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}
